.card {
    box-shadow: -2px 5px 10px #8a8a8a;
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
    border-radius: 5px;

}

.card:hover {
    box-shadow: -10px 15px 15px #8a8a8a;
    cursor: pointer;

}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;

}

.image-container{
    justify-content: space-between;
}

.col {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
    align-content: center;
}

.GifList {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.GifListItem {
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    margin: 20px 10px;
}

.GifList .column {
    flex-basis: 1;
    flex-grow: 1;
    height: 100%;
    width: 1;
    margin: 0;
}


element {

    top: 0px;

}

.spinner{
    width: 100%;
}